@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&subset=cyrillic-ext');
// BOOTSTRAP
@import "./_bootstrap/bootstrap-reboot";
@import "./_bootstrap/bootstrap-grid";
@import "./_bootstrap/forms";
//@import "./_bootstrap/buttons";
@import "./_bootstrap/alert";
@import "./_bootstrap/type";
@import "./_bootstrap/pagination";
@import "./_bootstrap/modal";
@import "./_bootstrap/dropdown";
@import "./_bootstrap/close";
@import "./_bootstrap/utilities";

* {
  outline: none !important;
}

a {
  text-decoration: none !important;
}

h1, h2, h3, h4, h5, h6 {
  color: #000;
  text-transform: uppercase;
}

svg {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  shape-rendering: geometricPrecision !important;
}

body {
  padding: 0;
  background: #fff;
  font-family: 'Montserrat', sans-serif !important;
  font-size: .85rem !important;
  -webkit-font-smoothing: subpixel-antialiased !important;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  text-rendering: geometricPrecision !important;
}

// HEADER >> ==========================================================================================================/
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: transparent;
  padding: 1rem 0;
  width: 100%;
  line-height: 3rem;
  transition: all .2s;
  //box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.05);
  z-index: 100;
  &__brand {
    display: inline-block;
    float: left;
    padding: 0;
    margin: .25rem 0;
    height: 2.5rem;
    cursor: pointer;
    & svg {
      float: left;
      height: 2.5rem;
    }
    & svg .pink {
      fill: #ff0063;
      transition: all .2s;
    }
    & svg .black {
      fill: #fff;
      transition: all .2s;
    }
  }
  &__contacts {
    float: right;
    margin: .5rem;
    color: #fff !important;
    line-height: 1rem;
    & svg {
      float: left;
      height: 2rem;
    }
    &-block {
      float: left;
      margin-left: .8rem;
    }
    &-phone {
      width: 100%;
      font-weight: 500;
      font-size: 1.3rem;
      text-align: right;
    }
    &-callback {
      color: #fff;
      float: right;
      width: 100%;
      font-size: .7rem;
      text-transform: uppercase;
      letter-spacing: .1rem;
      text-align: right;
      transition: all .3s;
      &:hover {
        color: #ffe200;
      }
    }
  }
  &--scroll {
    background: #fff;
    padding: .5rem 0;
    box-shadow: 0 0 .25rem 5rem rgba(0, 0, 0, 0.05);
    & svg {
      stroke: #000;
    }
    & svg .black {
      fill: #000;
      transition: all 0.2s;
    }
  }
}

.main-action {
  &__input {
    float: left;
    border: 1px Solid #fff;
    padding: .7rem 1rem;
    border-radius: .2rem;
  }
  & .btn-main {
    margin: 0 0 0 -3rem;
  }
}

// SECTIONS >> ========================================================================================================/
.section {
  margin: 0;
  padding: 3rem 0;
  width: 100%;
  min-height: 700px;

  // TITLE SECTIONS
  &-header {
    &__title {
    }
    &__subtitle {
    }
  }

  // CONTENT SECTIONS
  &-main {
    //background: linear-gradient(to top left, rgb(116, 93, 208) 0%, rgba(60, 77, 158, 0.65) 100%), url('./img/support_bg.jpg');
    //background: linear-gradient(to top left, rgb(116, 93, 208) 0%, rgba(10, 24, 88, 0.64) 100%), url('./img/support_bg.jpg');
    background: linear-gradient(to top left, rgb(51, 66, 99) 0%, rgba(10, 24, 88, 0.64) 100%), url('./img/support_bg_blur.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    &__h1 {
      margin: 12rem 0 1rem;
      color: #fff;
      font-weight: 700;
    }
    &__text {
      margin: 0 0 2rem;
      color: #f6f4ff;
      width: 60%;
    }
  }
}

// FOOTER >> ==========================================================================================================/
.footer {
  background: linear-gradient(to top left, rgb(51, 66, 99) 0%, rgba(10, 24, 88, 0.64) 100%), url('./img/support_bg_blur.jpg');
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  margin-top: 20rem;
  padding-top: 200px;

  &__copyright {
    border-top: 1px Solid rgba(255, 255, 255, 0.1);
    color: #707a9c;
    line-height: 3rem;
    transition: all .3s;
    &:hover {
      color: #fff;
    }
  }
}

// BUTTONS >> =========================================================================================================/
.btn {
  display: inline-block;
  border: 1px Solid transparent;
  background: transparent;
  margin: 0;
  padding: .7rem 2rem;
  //font-weight: 500;
  letter-spacing: .1rem;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  text-transform: uppercase;
  border-radius: .2rem;
  transition: all .3s;
  &:hover {
    //opacity: .9;
  }

  &-main {
    border: 1px Solid #ff0063;
    background: #ff0063;
    color: #fff;
    box-shadow: 0 0 .5rem .2rem rgba(255, 0, 121, 0.2);
    &:hover {
      border-color: #ff0063;
      background: #ff0063;
    }
  }
  &-transparent {
    border: none;
    color: #0093ff;
    //box-shadow: 0 0.5rem 2rem 0 rgba(0, 63, 255, 0.2);
    &:hover {
      background: #0093ff;
      color: #fff;
    }
  }
}

// HELPERS >> =========================================================================================================/
.no {
  &-margin {
    margin: 0 !important;
  }
  &-padding {
    padding: 0 !important;
  }
}

.text {
  &-left {
    text-align: left
  }
  &-center {
    text-align: center
  }
  &-right {
    text-align: right
  }
}

// MOBILE WIDGETS >> ==================================================================================================/
.callback-widget {
  display: none;
}

@media (max-width: 767px) {
  .callback-widget {
    display: block;
    position: fixed;
    bottom: -5rem;
    padding: .5rem;
    background: #fff;
    width: 100%;
    text-align: center;
    line-height: 2.6rem;
    visibility: hidden;
    transition: all .3s;
    box-shadow: 0 0 .5rem 0 rgba(0, 0, 0, 0.15);
    & .btn-call {
      display: block;
      border: 1px Solid #00e814;
      padding: 0;
      background: #00e814;
      color: #fff;
      width: 100%;
      box-shadow: 0 5rem 2rem 0 rgba(0, 255, 38, 0.2);
    }
    & .btn-write {
      display: block;
      border: 1px Solid #0093ff;
      padding: 0;
      background: #0093ff;
      color: #fff;
      width: 100%;
      box-shadow: 0 0.5rem 2rem 0 rgba(0, 44, 255, 0.2);
    }
    & svg {
      display: inline-block;
      vertical-align: middle;
      height: 1.5rem;
    }
    &--active {
      bottom: 0;
      visibility: visible;
    }
  }
}

// MEDIA QUERIES >> ===================================================================================================/
@media (max-width: 767px) {
  body {
    padding-bottom: 3rem;
  }
  .header {
    line-height: 3rem;
    transition: all .2s;
    z-index: 100;
    &__brand {
      margin: .25rem 0;
      height: 2.25rem;
      & svg {
        height: 2.25rem;
      }
    }
    &__contacts {
      margin: .5rem 0;
      & svg {
        height: 1.7rem;
      }
    }
    &--scroll {
      background: #fff;
      padding: .2rem 0;
      box-shadow: 0 0 .25rem 5rem rgba(0, 0, 0, 0.05);
      & svg {
        stroke: #000;
      }
      & svg .black {
        fill: #000;
        transition: all 0.2s;
      }
    }
  }
  .main-action {
    &__input {
      float: left;
      border: 1px Solid #fff;
      padding: .7rem 1rem;
      margin: 0 10%;
      width: 80%;
      text-align: center;
      border-radius: 0 0 .3rem .3rem;
    }
    & .btn-main {
      margin: 0 10%;
      width: 80%;
      font-weight: normal !important;
      border-radius: 0 0 .3rem .3rem;
    }
  }
  // SECTIONS
  .section {
    &-main {
      text-align: center;
      &__h1 {
        margin: 12rem 0 1rem;
        font-size: 2rem;
      }
      &__text {
        margin: 0 0 2rem;
        width: 100%;
      }
    }
  }
}